/* Палитра цветов
Accent #2196F3
title color #212121
Secondary color #757575
white #FFFFFF
second bg color #E5E5E5
third bg color #2F303A
mail tel color rgba(255, 255, 255, 0.6)
bgcolor button portfolio #F5F4FA


*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-text-color: #212121;
  --Secondary-text-color: #757575;
  --white: #ffffff;
  --second-bgcolor: #e5e5e5;
  --third-bgcolor: #2f303a;
  --mail-tel-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --button-bgcolor: #f5f4fa;
  --icon-color: #afb1b8;
  --bgcolor-icon-footer: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --bgcolor-lessons-info: rgba(47, 48, 58, 0.8);
  --accent-bgcolor: rgba(33, 150, 243, 0.9);
  --input-border-color: rgba(33, 33, 33, 0.2);
}

a {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);

  font-size: 14px;
  font-family: Roboto, sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h2 {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
/* Общие */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 15px;
}
.button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  color: var(--white);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.button:hover {
  background-color: #188ce8;
}
.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Шапка */
.header__container {
  display: flex;
}
.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header__logo {
  margin-right: 93px;
}
.logo__decor {
  color: var(--accent-color);
}
.navigation {
  display: flex;
}

.navigation__link {
  display: block;
  padding: 32px 0;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--current {
  position: relative;

  color: var(--accent-color);
}

.navigation__link--current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;

  border-radius: 2px;

  background-color: var(--accent-color);
}
.navigation li:not(:first-child) {
  margin-left: 50px;
}
.navigation li :hover,
.navigation li :focus,
.communication li :hover,
.communicationli :focus {
  color: var(--accent-color);
}

.communication {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.communication__link {
  display: flex;
  color: var(--Secondary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.communication__icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

.communication li + li {
  margin-left: 50px;
}

/* Main index */
.main-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

main {
  background-color: var(--second-bgcolor);
}

.our-feathers {
  padding-top: 94px;
}

/* hero */
.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bgimg.jpg);
  background-repeat: no-repeat;
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 0;
}

.feature-tittle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.hero__title {
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  margin-bottom: 30px;
}

/* Modal */
.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;

  background-color: var(--backdrop-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  z-index: 2;

  background-color: var(--white);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__cross {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__cross-svg {
  margin: auto;
}
.modal-cross:hover,
.modal-cross:focus {
  fill: var(--accent-color);
}
.modal__container {
  padding: 2px 40px 40px 40px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2px;
}
.modal__label {
  position: relative;
  display: block;
  margin-top: 10px;
}
.modal__label-name {
  display: block;
  padding-bottom: 4px;

  color: var(--Secondary-text-color);

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus,
.textarea-comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.modal__input:focus + .icon-modal {
  fill: var(--accent-color);
}
.icon-modal {
  position: absolute;
  left: 13.5px;
  top: 31px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment {
  width: 100%;
  height: 120px;
  padding: 6px 15px;

  resize: none;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__confirmation {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__confirmation-text {
  display: block;

  font-weight: 400;
  font-size: 14px;
}

.modal__icon-check {
  margin-right: 8.4px;

  fill: var(--white);
  background-color: var(--white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid var(--primary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__icon-check {
  background-color: var(--accent-color);
  fill: var(--white);
  border: none;
}
.modal__confirmation-text--active {
  display: inline-block;

  color: var(--accent-color);

  line-height: 0.8;
  border-bottom: 1px solid var(--accent-color);
}
.modal__submit {
  display: block;
  margin-top: 30px;
}

/*Особенности  */
.feature__list {
  display: flex;
}

.icon__feature {
  width: 70px;
  height: 70px;
}

.feature__icon-wrapper {
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--button-bgcolor);

  border-radius: 4px;
}
.feature__icon {
  width: 70px;
  height: 70px;
}
.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__item-title {
  color: var(--primary-text-color);

  font-weight: 700;
  line-height: 1.14;
}

.feature__info {
  margin-top: 10px;

  color: var(--Secondary-text-color);
}
/*Чем мы занимаемся  */
.lessons {
  padding-top: 0;
}
.lessons__list {
  display: flex;
}

.lessons__item:not(:last-child) {
  margin-right: 30px;
}

.lessons__item {
  position: relative;
  z-index: 1;
}

.lessons__info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  bottom: 0;

  background-color: var(--bgcolor-lessons-info);
  color: var(--white);
}

/* Наша команда */
.team__list {
  display: flex;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  background: var(--white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__info-wrapper {
  padding: 32px 30px;
}
.team__name {
  text-align: center;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team__info {
  color: var(--Secondary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-top: 10px;
}
.sochial-list {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.sochial-list__item {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sochial-list__icon {
  width: 20px;
  height: 20px;
  margin: auto;

  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sochial-list__item a {
  display: flex;
}

.sochial-list__item:hover {
  cursor: pointer;

  background-color: var(--accent-color);
}

.sochial-list__item:hover .sochial-list__icon {
  fill: var(--white);
}

/* Постоянные клиенты */
.regular-customers__list {
  display: flex;
  justify-content: space-between;
}

.regular-customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__icon {
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers__item a {
  color: var(--icon-color);
}

.regular-customers__item:hover,
.regular-customers__item:hover .regular-customers__icon {
  border-color: var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
}

.regular-customers__item:focus,
.regular-customers__item:focus .regular-customers__icon {
  border-color: var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
}

/* footer */
.footer {
  align-items: baseline;
  padding: 60px 0;

  background-color: var(--third-bgcolor);
}
.footer-container {
  display: flex;
}

.footer__logo {
  color: var(--white);
}

.adress {
  font-style: normal;
}

.adress__map {
  display: block;
  margin-top: 20px;

  color: var(--white);
}

.adress__online {
  display: block;
  margin-top: 9px;

  color: var(--mail-tel-color);
}

.footer__wrapper-second {
  margin-left: 70px;
}

.footer__title {
  margin-bottom: 20px;

  color: var(--white);

  font-weight: 700;
  text-transform: uppercase;
}

.sochial-list__footer-icon {
  fill: var(--white);
}

.sochial-list__footer-item {
  background-color: var(--bgcolor-icon-footer);
}

.sochial-list__footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer__wrapper-third {
  margin-left: 93px;
}
.footer__label {
  position: relative;
}
.footer__input {
  width: 358px;
  height: 50px;
  padding: 16px 15px;

  background-color: var(--third-bgcolor);
  color: var(--white);

  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.footer__input:focus {
  border: 1px solid var(--white);
}
.footer__mail-text {
  position: absolute;
  left: 16px;
  top: -3px;

  color: var(--mail-tel-color);
}
.footer__input:focus + .footer__mail-text,
.footer__input:not(:placeholder-shown) + .footer__mail-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.footer__icon-send {
  margin-left: 10px;

  fill: var(--white);
}

/* main portfolio */

/* Кнопки поиска */

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  padding: 6px 22px;

  background-color: var(--button-bgcolor);

  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover,
.portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

/* Карточки продуктов */
.card-list {
  display: flex;
  flex-wrap: wrap;
}
.card-list__item {
  background-color: var(--white);

  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;

  margin-right: 30px;
  margin-bottom: 30px;
}

.card-list__item:nth-child(3n) {
  margin-right: 0;
}

.card-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-list__overlay {
  position: relative;
  overflow: hidden;
}
.card-list__text {
  display: flex;
  position: absolute;

  padding: 63px 24px;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  color: var(--white);
  background-color: var(--accent-bgcolor);
  font-size: 18px;
  line-height: 1.55;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-list__name {
  padding: 20px 24px;
}



.card-list__title{
  color: var(--primary-text-color);
  text-align: start;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-list__info {
  color: var(--Secondary-text-color);

  font-size: 16px;
  line-height: 1.88;

  margin-top: 4px;
}




.card-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-list__item:hover .card-list__text {
  transform: translateY(0);
}
